name: test
on: [push, pull_request]
jobs:
  phpunit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run phpunit
      run: docker compose run --quiet-pull --rm app composer ci-test
    - name: Run phpstan
      run: docker compose run --quiet-pull --rm app composer analyze
    - uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        fail_ci_if_error: true
        verbose: true
